#sfondo1 {
  width: 60%;
  height: 8000px;
  display: block;
  background-image: url("basepertesti.png");
  margin-left: 20%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  z-index:-1;
}
.text{
  font-size: 0.9vw;
  position: absolute;
  font-family: courier new;
}
#testo1 {
  margin-left: 45vw;
  margin-top: 6vw;
  width: 15vw;
}
#testo2 {
  margin-left: 34vw;
  margin-top: 28vw;
  width: 10vw;
}
#testo3 {
  margin-left: 38vw;
  margin-top: 63.5vw;
  width: 11vw;
}
#testo4 {
  margin-left: 58vw;
  margin-top: 130vw;
  width: 7.5vw;
  line-height: 0.9vw;
}
#testo5 {
  margin-left: 20vw;
  margin-top: 166.5vw;
  width: 7.5vw;
  line-height: 0.98vw;
}
#testo6 {
  margin-left: 39vw;
  margin-top: 159vw;
  width: 8vw;
  line-height: 0.98vw;
}
#testo7 {
  margin-left: 43vw;
  margin-top: 199.3vw;
  width: 12vw;
  line-height: 0.96vw;
  text-align: center;
}
#testo8 {
  margin-left: 42vw;
  margin-top: 210vw;
  width: 16vw;
  line-height: 0.96vw;
  text-align: center;
}
